{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="button-container mb-3">
  <!-- BE Status Form Links -->
  <h5>BE Status</h5>
  <a href="{% url 'SEreview:client_dashboard_be_with_name' client_id=client_id form_name='bestatus' be_name=be_name source='BE' %}" class="btn btn-primary me-2 mb-2">BE Status - {{ be_name }}</a>
  
  <!-- Initiative Form Links -->
  <h5>Initiative</h5>
  <a href="{% url 'SEreview:client_dashboard_be_with_name' client_id=client_id form_name='beinitiative' be_name=be_name source='BE' %}" class="btn btn-primary me-2 mb-2">Initiative - {{ be_name }}</a>
  
  <!-- BE Activity Form Links -->
  <h5>BE Activity</h5>
  <a href="{% url 'SEreview:client_dashboard_be_with_name' client_id=client_id form_name='beactivity' be_name=be_name source='BE' %}" class="btn btn-primary me-2 mb-2">BE Activity - {{ be_name }}</a>
</div>

    <!--[top level recent entriers  funnel engages tac ] start-->
<!-- form_template.html -->
<div class="col-xl-10 col-md-6">
  <div class="card Recent-Users">
    <div class="card-header">
      <h5>{{ form_name|title }}</h5>
    </div>
    <div class="card-block px-0 py-3">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              {% if form_name == 'bestatus' %}
                <th>Client Name</th>
                <th>BE Name</th>
                <th>Status</th>
                <th>Worked Last Year</th>
                <th>Challenging Last Year</th>
                <th>Focus Next Year</th>
                <th>Create Date</th>

                <th>Actions</th>
              {% elif form_name == 'beinitiative' %}
                <th>Client Name</th>
                <th>BE Name</th>
                <th>Status</th>
                <th>Initiative Short</th>
                <th>Initiative Description</th>
                <th>Expected Outcome</th>
                <th>Expected Execution Date</th>
                <th>Owners</th>
                <th>Create Date</th>
                <th>Actions</th>
              {% elif form_name == 'beactivity' %}
                <th>Activity Name</th>
                <th>Client Name</th>
                <th>BE Name</th>
                <th>Status</th>
                <th>Initiative</th>
                <th>Pending</th>
                <th>Status</th>
                <th>Create Date</th>
                <th>Last Update</th>
                <th>Actions</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
           
              {% if form_name == 'bestatus' %}
                <td>{{ item.client_name }}</td>
                <td>{{ item.be_name }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.worked_last_year }}</td>
                <td>{{ item.challenging_last_year }}</td>
                <td>{{ item.focus_next_year }}</td>
                <td>{{ item.create_date }}</td>

              {% elif form_name == 'beinitiative' %}
                <td>{{ item.client_name }}</td>
                <td>{{ item.be_name }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.initiative_short }}</td>
                <td>{{ item.initiative_desc }}</td>
                <td>{{ item.expected_outcome }}</td>
                <td>{{ item.expected_execution_date|date:"M d, Y" }}</td>
                <td>{{ item.owners }}</td>
                <td>{{ item.create_date }}</td>
          
              {% elif form_name == 'beactivity' %}
                              <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %}<p class='text-dark'>{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">

                <td>{{ item.activity_name }}</td>
                <td>{{ item.client_name }}</td>
                <td>{{ item.be_name }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.initiative }}</td>
                <td>{{ item.pending }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.create_date }}</td>
                {% for update in item.desc_update %}
                {% if forloop.last %}
                <td>
                    {{ update.timestamp|date:"M d, Y" }}
                </td>
                {% endif %}
              {% endfor %}
              {% endif %}
             
              <td>
                {% for field, value in item.items %}
                {% if field == '_id' %}
                {% with item_id=value|stringformat:"s" %}
                  <a href="{% url 'SEreview:update_item' collection_name=form_name|urlencode item_id=item_id %}" class="label theme-bg text-c-red f-12">Update</a>
                  <a href="{% url 'SEreview:delete_item' collection_name=form_name|urlencode item_id=item_id %}" class="label theme-bg text-white f-12">Delete</a>
                {% endwith %}
                {% endif %}
                {% endfor %}
              </td>
            </tr>
            {% endfor %}
            <tr class="unread">
              <td colspan="100%">
                <a href="{% url 'SEreview:collection_list' form_name %}" class="label theme-bg text-white f-12">View All</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

  <!-- form_template.html -->

  <form method="post" action="{% url 'SEreview:process_dash_be' form_name %}">
    {% csrf_token %}
    <input type="hidden" name="source" value="{{ source }}">
    <table class="table">
      {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>
          {% if field.name == 'client_name' and form_name != 'clients' %}
          <input type="text" name="{{ field.name }}" value="{{ client_name }}" readonly>
          {% elif field.name == 'initiative' and form_name == 'beactivity' %}
                    <select name="{{ field.name }}">
                        <option value="">Select an initiative</option>
                        {% for initiative_tuple in existing_initiatives %}
                              <option value="{{ initiative_tuple.0 }}">{{ initiative_tuple.0 }}</option>
                        {% endfor %}
                    </select>
          {% else %}
          {{ field }}
          {% endif %}
          {% if field.errors %}
          <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<!-- client_dash_template -->
 <!-- Debug: Output existing_initiatives to ensure it is passed correctly -->
{% if existing_initiatives %}
<ul>
    {% for initiative in existing_initiatives %}
        <li>{{ initiative.0 }} - {{ initiative.1 }}</li>
    {% endfor %}
</ul>
{% else %}
   
<p>No existing initiatives found.</p>
{% endif %}
 <!-- Debug: Output data as a list to ensure it is passed correctly -->
{% if data %}
  <ul>
    {% for item in data %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No data available.</p>
{% endif %}

{% endblock content %}
