{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <!--[ Active Opportuntities funnel engages tac ] start-->
  <div class="col-xl-10 col-md-6">
    <div class="card Recent-Users">
      <div class="card-header">
        <h5>All Entries</h5>
      </div>
      <div class="card-block px-0 py-3">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                  {% for field in fields_to_display %}
                  <th>{{ field|title }}</th>
                  {% endfor %}
              </tr>
          </thead>

            <tbody>
              {% for item in data %}
                <tr class="unread">
                  <td><a  class="label theme-bg2 text-white f-12">{{ item.client_name }}</a>
                  <a  class="label theme-bg2 text-white f-12">{{ item.status }}</a></td>
                    {% for update in item.desc_update %}
                      {% if forloop.last %}
                      <td>
                        <h6 class="text-muted">
                          <i class="fas fa-circle text-c-red f-10 m-r-15"></i>
                          {{ update.timestamp|date:"M d, Y" }}
                        </h6>
                      </td>
                      <td>
                        <p>{{ update.text|truncatechars:50 }}</p>
                      {% endif %}
                    {% endfor %}
                      </td>
                      <td>
                    {% for field, value in item.items %}
                      {% if field == 'opportunity_name' or field == 'cx_name' or field == 'case_name' or field == 'meeting_outcome' or field == 'be_name' or field == 'issue_title' %}
                        {{ value }}
                      {% endif %}
                    {% endfor %}
                      </td>   
                     <td>
                      
                    {% for field, value in item.items %}
                     {% if field == '_id' %}
                      {% with item_id=value|stringformat:"s" %}
                            <a href="{% url 'SEreview:update_item' collection_name=collection_name|urlencode item_id=item_id %}" class="label theme-bg text-c-red f-12">Update</a>
                            <a href="{% url 'SEreview:delete_item' collection_name=collection_name|urlencode item_id=item_id %}" class="label theme-bg text-white f-12">Delete</a>
                      </td>
                
                      {% endwith %}
                      {% endif %}
                    {% endfor %}
                    <td></td>
                </tr>
              {% endfor %}
              <tr class="unread">
                <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-3.jpg' %}"
                    alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Karla Sorensen</h6>
                  <p class="m-0">Lorem Ipsum is simply…</p>
                </td>
                <td>
                  <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY
                    17:38</h6>
                </td>
                <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                    class="label theme-bg text-white f-12">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                    alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Ida Jorgensen</h6>
                  <p class="m-0">Lorem Ipsum is simply text of…</p>
                </td>
                <td>
                  <h6 class="text-muted f-w-300"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>19
                    MAY
                    12:56</h6>
                </td>
                <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                    class="label theme-bg text-white f-12">Approve</a>
                </td>
              </tr>
              <tr class="unread">
                <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-2.jpg' %}"
                    alt="activity-user">
                </td>
                <td>
                  <h6 class="mb-1">Albert Andersen</h6>
                  <p class="m-0">Lorem Ipsum is simply dummy…</p>
                </td>
                <td>
                  <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>21
                    July 12:56</h6>
                </td>
                <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                    class="label theme-bg text-white f-12">Approve</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
