{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!--[ Active Opportuntities funnel engages tac ] start-->
    <div class="col-xl-10 col-md-6">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>Recent Updates</h5>
        </div>
        <div class="card-block px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  {% for field in fields_to_display %}
                  <th>{{ field|title }}</th>
                  {% endfor %}
              </tr>
            </thead>
              <tbody>
                {% for item in data %}
                <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %}<p class='text-dark'>{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">
                    <td><a  class="label theme-bg2 text-white f-12">{{item.client_name}}{{ item.issue_title}}</a> <p  class='badge' text-align: center>{{item.opportunity_name}}{{item.case_name}}{{item.cx_name}}</p></td>
                    <td>{{item.create_date|date:"M d, Y"}}</td>  
                    {% for update in item.desc_update %}
                        {% if forloop.last %}
                        <td>
                          <h6 class="text-muted">
                            <i class="fas fa-circle text-c-red f-10 m-r-15"></i>
                            {{ update.timestamp|date:"M d, Y" }}
                          </h6>
                        </td>
                        
                        {% endif %}
                      {% endfor %}
                        
                        <td>
                          {{item.pending}}
                        </td>   
                       <td>
                        
                      {% for field, value in item.items %}
                       {% if field == '_id' %}
                        {% with item_id=value|stringformat:"s" %}
                              <a href="{% url 'SEreview:update_item' collection_name=form_name|urlencode item_id=item_id %}" class="label theme-bg text-c-red f-12">Update</a>
                              <a href="{% url 'SEreview:delete_item' collection_name=form_name|urlencode item_id=item_id %}" class="label theme-bg text-white f-12">Delete</a>
                        </td>
                  
                        {% endwith %}
                        {% endif %}
                      {% endfor %}
                      <td></td>
                  </tr>
                {% endfor %}
                <tr class="unread">
                  <td>
                  </td>
                  <td>
                  </td>
                  <td>
                    <a href="{% url 'SEreview:collection_list' form_name %}" class="label theme-bg text-white f-12">View All</a>
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <!-- form_template.html -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Add New </h5>
         
        </div>
        <div class="card-body">
          <form method="post" action="{% url 'SEreview:process_form' form_name %}">
            {% csrf_token %}
            <table class="table">
              {% for field in form %}
              <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                {% if field.errors %}
                <td>
                  <ul class="errors">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}
