{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
 <!--[  Opportuntities  and funnel engages tac ] start-->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Forecasted Opportunities</h5>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Client/Opportunity</th>
                               
                                <th>Pending</th>
                                <th>Description Update</th>
                                <th>Approx Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in forecasted_opportunities %}
                            <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %}<p class='text-dark'>{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">

                                <td>{{ item.client_name }}<p>{{ item.opportunity_name }}</p></td>
                               
                                <td>{{ item.pending}}</td>
                                
                                <td>
                                    {% for update in item.desc_update %}
                                    {% if forloop.last %}
                            
                                    <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{ item.approx_value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mt-3">
                  <h6>Total Forecasted Amount: {{ forecast_value }}</h6>
                  <h6>Count: {{ forecast_count }}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="card">
          <div class="card-header">
              <h5>Funnel Creation</h5>
          </div>
          <div class="card-block">
              <div class="table-responsive">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Client/Opportunity</th>
          
                              <th>Description Update</th>
                              <th>Approx Value</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for item in funnel_opportunities %}
                          <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %} <p class='text-dark' >{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">
                              <td>{{ item.client_name }} <p>{{ item.opportunity_name }}</p></td>
                            
                              <td>
                                  {% for update in item.desc_update %}
                                  {% if forloop.last %}
                                
                                  <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                  {% endif %}
                                  {% endfor %}
                              </td>
                              <td>{{ item.approx_value }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              <div class="mt-3">
                  <h6>Total Funnel Amount: {{ funnel_value }}</h6>
                  <h6>Count: {{ funnel_count }}</h6>
              </div>
          </div>
      </div>
  </div>
</div>
 <!--[  Opportuntities  and funnel engages tac ] end-->
 <!--[  CX  and BE engagement  ] start-->
<div class="row">
  <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>BE Engagement</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Client/Opportunity</th>
                           
                            <th>Pending</th>
                            <th>Description Update</th>
                            <th>BE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in be_engagements %}
                        <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %}<p class='text-dark'>{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">

                            <td>{{ item.client_name }}<p>{{ item.opportunity_name }}</p></td>
                           
                            <td>{{ item.pending}}</td>
                            
                            <td>
                                {% for update in item.desc_update %}
                                {% if forloop.last %}
                        
                                <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ item.be_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-3">
              
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>CX Engagement</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Client/Opportunity</th>
                           
                            <th>Pending</th>
                            <th>Description Update</th>
                            <th>BE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cx_engagements %}
                        <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %}<p class='text-dark'>{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:"M d, Y" }}</p>{% endfor %}">

                            <td>{{ item.client_name }}<p>{{ item.opportunity_name }}</p></td>
                           
                            <td>{{ item.pending}}</td>
                            
                            <td>
                                {% for update in item.desc_update %}
                                {% if forloop.last %}
                        
                                <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ item.cx_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="mt-3">
              
            </div>
        </div>
    </div>
  </div>

</div>
 <!--[  CX  and BE engagement  ] end-->

  <!--[  TAC and Issues  ] start-->
<div class="row">
  <div class="col-md-6">
   <div class="card">
       <div class="card-header">
           <h5>Tac Cases</h5>
       </div>
       <div class="card-block">
           <div class="table-responsive">
               <table class="table table-hover">
                   <thead>
                       <tr>
                           <th>Client/Case</th>
                           <th>Status</th>
                           <th>pending</th>
                           <th>update</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for item in tac_cases %}
                       <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %} <p class='text-dark' >{{ update.text }}</p> <p class='text-muted'>{{ update.timestamp|date:'M d, Y' }}</p></tr> {% endfor %}">
                           <td>{{ item.client_name }} <p>{{ item.case_name }}</p></td>
                           <td>{{ item.status}}</td>
                           <td>{{ item.pending}}</td>
                           <td>
                            {% for update in item.desc_update %}
                            {% if forloop.last %}
                    
                            <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                            {% endif %}
                            {% endfor %}
                        </td>
                       </tr>
                       {% endfor %}
                   </tbody>
               </table>
           </div>
       </div>
   </div>
  </div>
  <div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5>Issues</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Issue</th>
                            <th>Pending</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in issues %}
                        <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %} <p class='text-dark' >{{ update.text }}</p><p class='text-muted'>{{ update.timestamp|date:'M d, Y' }} {% endfor %} ">
                            <td>{{ item.issue_title }} </td>
                            <td>{{ item.pending}}</td>
                            <td>
                                {% for update in item.desc_update %}
                                {% if forloop.last %}
                        
                                <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   </div>

</div>
  <!--[  TAC and Issues  ] end-->

  <!--[  Meetings  and other ] start-->
<div class="row">
    <div class="col-md-6">
     <div class="card">
         <div class="card-header">
             <h5>Customer facing meetings </h5>
         </div>
         <div class="card-block">
             <div class="table-responsive">
                 <table class="table table-hover">
                     <thead>
                         <tr>
                             <th>Client</th>
                             <th>meeting Date</th>
                             <th>Update Date</th>
                         </tr>
                     </thead>
                     <tbody>
                         {% for item in meetings %}
                         <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %} <p class='text-dark' >{{ update.text }}</p>{% endfor %} </p>{{ item.meeting_outcome }}">
                             <td>{{ item.client_name }} <p>{{ item.case_name }}</p></td>
                             <td>{{ item.meeting_date|date:"M d, Y"}}</td>
                             <td>
                                 {% for update in item.desc_update %}
                               
                                 <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                 {% endfor %}
                             </td>
                         </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
     </div>

    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Activities  </h5>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Activity Date</th>
                                <th>Update Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in activities %}
                            <tr class="unread" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for update in item.desc_update %} <p class='text-dark' >{{ update.text }}</p>{% endfor %} </p>{{ item.meeting_outcome }}">
                                <td>{{ item.client_name }} <p>{{ item.activity_name }}</p></td>
                                <td>{{ item.create_date|date:"M d, Y"}}</td>
                                <td>
                                    {% for update in item.desc_update %}
                                  
                                    <p class="text-muted">{{ update.timestamp|date:"M d, Y" }}</p>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
   
    </div>
    
  
</div>
    <!--[  Meetings and other  ] end-->
{% endblock content %}
